*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 10px auto;
}

.logo{
    height: 70px;
    border-right: 1px solid black;
    padding-right: 20px;

}
nav li{
    display: inline;
    list-style: none;
    padding-right: 10px;
}
a{
    text-decoration:none;
    color: grey;
    
}
nav li a:hover{
    text-decoration: underline;
}

.banner{
   height: 550px;
  border-radius: 10px;
  color: white;
  position: relative;
  overflow: hidden;
}
.banner-text{
    position: absolute;
    bottom: 60px;
    left: 20px;
    margin-left: 30px;
    width : 500px;
    
}
main .top{
    height: 60px;
}
.col{
width: 300px;
position: relative;
float: left;
display: inline;
}
.colLx{
    width: 200px;
}

.colCx{
    width: 600px;
}

.colRx{
    width: 200px;   
}

